{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Математические операции</h1>

    <form method="post" action="/lab4/div">Формы (POST)</h1>
        <h1>Деление чисел</h1>
        <input type="number" name="x1"> / <input type="number" name="x2">
        <input type="submit" value="=">
    </form>

    <form method="post" action="/lab4/summa">
        <h1 class="block2">Сумма чисел</h1>
        <input type="number" name="x1"> + <input type="number" name="x2">
        <input type="submit" value="=">
    </form>

    <form method="post" action="/lab4/ymnoshenie">
        <h1 class="block2">Умножение чисел</h1>
        <input type="number" name="x1"> * <input type="number" name="x2">
        <input type="submit" value="=">
    </form>

    <form method="post" action="/lab4/vichitanie">
        <h1 class="block2">Вычитание чисел</h1>
        <input type="number" name="x1"> - <input type="number" name="x2">
        <input type="submit" value="=">
    </form>

    <form method="post" action="/lab4/stepen">
        <h1 class="block2">Возведение в степень</h1>
        <input type="number" name="x1"> ** <input type="number" name="x2">
        <input type="submit" value="=">
    </form>
{% endblock %}