{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>
        Тема лабораторной работы - Формы (POST). Список сделанных страниц:
    </div>
    <ol class='text'>
        <li><a href="/lab4/div-form">Математические операции</a>
        <li><a href="/lab4/tree">Счётчик деревьев</a>
        <li><a href="/lab4/login">Авторизация</a><br>
        <li><a href="/lab4/holodos">Холодильник</a></li>
        <li><a href="/lab4/grain_order">Заказ зерна</a></li>
    </ol>
{% endblock %}