{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block number_lab %}Лабораторная работа 3{% endblock %}

{# Основной контент: #}
{% block main %}

    {% if user %}

    <h1>Привет, {{ user }}!</h1>
    <h2>Добро пожаловать на наш сайт!</h2>

    <div>Ваш возраст:{{ age }}</div>
    <div>Ваш пол: {{ 'Мужской' if sex == 'male' else 'Женский'}}</div>

    <ol class='text'>
        <a href="/lab3/form1">Заново заполнить форму</a>
    </ol>

    {% else %}

    <h1>Пользователь</h1>

    <form>
        <lable>Ваше имя:</lable>
        <div>
            <input type="text" placeholder="как вас зовут?" name="user" value="{{ user or ''}}">
            <span class="error" style="color: red;"> {{ errors.user }}</span>
        </div>

        <lable>Ваш возрас:</lable>
        <div>
            <input name="sex">
        </div>

        <lable>Ваш пол:</lable>
        <div>
            <select type="number" name="age" value="{{age or ''}}">
                <option value="male" {{ sex == 'male' and 'selected '}}>Мужской</option>
                <option value="female" {{ sex == 'female' and 'selected '}}>Женский</option>
            </select>
        </div>


        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    

    {% endif %}
{% endblock %}