{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block number_lab %}Лабораторная работа 3{% endblock %}

{# Основной контент: #}
{% block main %}

    {% if user %}

    <h1>Привет, {{ user }}!</h1>
    <h2>Добро пожаловать на наш сайт!</h2>

    <div>Ваш возраст:{{ age }}</div>
    <div>Ваш пол: {{ sex }}</div>

    <ol class='text'>
        <a href="/lab3/form1">Заново заполнить форму</a>
    </ol>

    {% else %}

    <h1>Пользователь</h1>

    <form>
        <lable>Ваше имя:</lable>
        <div>
            <input type="text" placeholder="как вас зовут?" name="user">
        </div>

        <lable>Ваш пол:</lable>
        <div>
            <input type="number" name="age">
        </div>

        <lable>Ваш возрас:</lable>
        <div>
            <select name="sex">
                <option value="male">Мужской</option>
                <option value="female">Женский</option>
            </select>
        </div>


        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>

    

    {% endif %}
{% endblock %}