{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Тема лабораторной работы: Формы, cookie</h1>
    <div>Список сделанных страниц:</div>
    <div>
        Привет, <span style="color: {{ name_color }}">{{ name or 'Аноним'}}, {{ age or 'с неизвестным возрастом '}}</span>!
    </div>
    <ol class='text'>
        <li><a href="/lab3/cookie">Куки</a>
        <li><a href="/lab3/del_cookie">Удаление Кук</a>
        <li><a href="/lab3/form1">Анкета</a>
        <li><a href="/lab3/order">Напитки</a>
        <li><a href="/lab3/pay">Данные для оплаты</a>  
        <li><a href="/lab3/success">Оплата</a> 
        <li><a href="/lab3/settings">Настройка куков</a> 
        <li><a href="/lab3/ticket">ЖД билет</a> 
        <li><a href="/lab3/products">Список телефонов</a>
    </ol>
{% endblock %}