{% extends "lab3/1success1.html" %}

{% block number_lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <div class="success-container">
        <h1>Спасибо за заказ!</h1>
        
        <div class="success-message">
            <p>Ваш заказ оплачен на сумму <strong>{{ price }} рублей</strong></p>
            <p>Ожидайте доставку</p>
        </div>

        <div class="back-link">
            <a href="/lab3/order" class="btn">Вернуться к заказу</a>
        </div>
    </div>
{% endblock %}