{% extends "base.html" %}

{% block number_lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    
    <h2>Создание статьи</h2>

    <form method="post">
        <div>
            <label for="title">
                Название статьи:
            </label>
            <input type="text" id="title" name="title" maxlength="50" required>
        </div>

        <div>
            <label for="article_text">Текст статьи:</label>
        </div>
        <div>
            <textarea id="article_text" name="article_text" required></textarea>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}