{% extends "lab8/base1.html" %}

{% block number_lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h2 class="block2">Создать новую статью</h2>
    
    <form method="POST" class="login-form login-container">
        <div>
            <label for="title">Заголовок статьи:</label>
            <input class="form-input" type="text" id="title" name="title" 
                   placeholder="Введите заголовок статьи" maxlength="50" required>
        </div>
        
        <div>
            <label for="text">Текст статьи:</label>
            <textarea class="form-input" id="text" name="text" 
                      placeholder="Напишите содержание статьи здесь..." required></textarea>
        </div>
        
        <div class="form-check">
            <label>
                <input type="checkbox" name="is_public" checked>
                Сделать статью публичной (будет видна всем пользователям)
            </label>
        </div>
        
        <div class="form-check">
            <label>
                <input type="checkbox" name="is_favorite">
                Добавить в избранное
            </label>
        </div>
        
        <button type="submit" class="btn btn2">Создать статью</button>
        <a href="/lab8/articles" class="btn btn3">Отмена</a>
    </form>
    
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <div>
        <a class="btn nazad" href="/lab8/">Главная</a>
        <a class="btn nazad" href="/lab8/articles">Все статьи</a>
    </div>
{% endblock main %}


